{#
/**
 * @file event_information.html.twig
 * Default theme implementation to present Event information data.
 *
 * This template is used when viewing Event information pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_event_information()
 *
 * @ingroup themeable
 */
#}
<div class="event_information">
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
